<!-- Saya Muhammad Muhammad Fadlul Hafiizh [2209889] mengerjakan soal TP 4 dalam mata kuliah DPBO.
untuk keberkahanNya maka saya tidak melakukan kecurangan seperti yang telah dispesifikasikan, Aamiin -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Daftar Gym</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">Gym Member</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.php">Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Gym</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-4">
    <div class="col-1 my-3">
        <a type="button" class="btn btn-primary nav-link active" href="gym.php?action=add">Add New</a>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>NAMA GYM</th>
        <th>ALAMAT</th>
        <th>JUM BUKA</th>
        <th>JAM TUTUP</th>
        <th>TOTAL MEMBER</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      DATA_TABEL
    </tbody>
  </table>
      </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>